@font-face {
	font-family: Norse-Bold;
	src: url(./fonts/Norse-Bold.otf)
}

body {
	display: flex;
	flex-direction: row;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
}

.background-container {
	position: relative;
}

.heading-background {
	position: absolute;
	width: 100%;
	background: black;
	opacity: 0.6;
	top: 23rem;
	width: 100%;
	height: 265px;
}

.heading-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: white;
	top: 20rem;
	font-size: 5em;
	width: 100%;
	text-align: center;
	font-family: Norse-Bold;
}

.heading-text > img {
	height: 150px;
}

.background-container > img {
	height: 1318px;
}

.credit-text {
	position: absolute;
	top: 79rem;
	color: white;
	text-align: center;
	width: 100%;
}

.credit-text > p > a {
	color: white;
}

.top-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #f9fafb;
	height: 400px;
	padding-bottom: 5rem;
	padding-left: 3rem;
	font-size: 25px;
	font-weight: bolder;
}

.sign-up-container {
	height: 270px;
	box-shadow: 0px 10px 5px lightblue;
	position: relative;
}

.sign-up-container > h2 {
	padding-left: 3rem;
}

.sign-up-form {
	display: grid;
	grid-row: 1fr 1fr;
	grid-column: 1fr 1fr;
	height: 250px;
	padding-left: 3rem;
}

input {
	height: 25px;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 15px;
}

#last-name-label {
	padding-left: 15.7rem;
}

#phone-number-label {
	padding-left: 18rem;
}

#confirm-password-label {
	padding-left: 15.9rem;
}

#last-name,
#phone-number,
#confirm-password {
	margin-left: 4rem;
	width: 250px;
}

#first-name,
#user-email,
#user-password {
	width: 250px;
}

.second-row-labels,
.third-row-labels {
	margin-top: 1rem;
}

.first-row-labels,
.second-row-labels,
.third-row-labels {
	font-size: 12px;
}

.bottom-div {
	height: 200px;
	padding-left: 3rem;
	background-color: #f9fafb;
}

.create-account-btn {
	background-color: #596D48;
	border-radius: 5px;
	border: none;
	color: white;
	width: 200px;
	height: 50px;
	font-weight: bolder;
	font-size: 17px;
}

.button-div {
	padding-top: 3rem;
}

.bottom-div > p > a {
	color: #596D48;
	font-weight: bolder;
}

a:link { 
	text-decoration: none; 
} 

  a:visited { 
	text-decoration: none; 
} 

  a:hover { 
	text-decoration: none; 
} 

a:active { 
	text-decoration: none; 
}
  