@font-face {
    font-family: norse-bold;
    src: url(/fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #181a1b;
    color: white;
}

.background-container {
    position: relative;
    width: max-content;
}

.background {
    display: flex;
    position: relative;
    width: 570px;
    height: 100vh;
}

.logo-header {
    font-family: norse-bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 200px;
    width: 570px;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
}

.logo-header > img {
    width: 100px;
    height: 125px;
}

.attribute {
    position: absolute;
    bottom: 20px;
    color: white;
    width: 570px;
    text-align: center;
    font-size: 0.8rem;
}

.attribute > a:link {
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(100%/3);
    width: 68%;
    padding-left: 50px;
}

label {
    font-size: 0.7rem;
}

.fields {
    height: calc(100%/2);
    box-shadow: 0 5px 20px -2px rgb(144, 143, 143);
    padding-top: 50px;
}

.create-account {
    height: calc(100%/3);
}

.fields > p {
    padding-left: 50px;
}

.form-fields {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.form-name-email-password,
.form-last-name-phone-password {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
    padding-right: 100px;
}

.form-name-email-password > input,
.form-last-name-phone-password > input {
    margin-bottom: 20px;
    border: 0.2px solid black;
    border-radius: 2px;
    height: 20px;
}

.create-account {
    padding-left: 50px;
    margin-top: 50px;
}

.create-account > button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0f1920;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
}

.create-account > p {
    font-size: 1.1rem;
}