/* * { border: 1px solid red; } */

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.background-container {
    position: relative;
    width: max-content;
}

.background {
    display: flex;
    position: relative;
    width: 570px;
    height: 100vh;
}


.logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    color: white;

    position: absolute;
    top: 200px;

    width: 570px;
    height: 150px;

    background: rgba(0, 0, 0, 0.5);
}

.logo-header > img {
    width: 100px;
    height: 125px;
}

.attribute {
    position: absolute;
    bottom: 20px;
    color: white;
    width: 570px;
    text-align: center;
    font-size: 0.8rem;
}

.attribute, a:link {
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding-left: 50px;

    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid red;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(100%/3);
    width: 68%;
    border: 1px solid red;
}

.fields {
    height: calc(100%/3);

    border: 1px solid red;

}

.create-account {
    height: calc(100%/3);

    border: 1px solid red;
}